<h1>Edit Task</h1>

<form action="/tasks/<%= task['id'] %>" method="POST">
  <input type="hidden" name="_method" value="put">

  <label for="">Task Name: </label>
  <input type="text" name="task_name" value="<%= task['task_name'] %>">

  <label for="">Task Instructions: </label>
  <input type="text" name="task_instructions" value="<%= task['task_instructions'] %>">

  <label for="">Assign Task To: </label>
 



<label for="">Assign to user:</label>
     <select name="assign_task_to">
         <% all_users.each do |user| %>
        
          <option <%= task['assign_task_to'] == user['first_name'] ? selected="selected" : "" %>  value="<%= user['first_name'] %>"><%= user['first_name'] %></option>
      
        <% end %>

      </select>
        <input type="hidden" value="assign_task_to" >

    <button>Update Task</button>
</form>           